  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Project Page</title>
    <style>
      body {font-family: Arial;}
      
      /* Style the tab */
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }
      
      /* Style the buttons inside the tab */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      }
      
      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }
      
      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }
      
      /* Style the tab content */
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
      }
      </style>
  </head>
  <body>
    
    <h3 style='color: #ccc;font-size: 30px;'>Project Page</h3>
    <!-- Tab buttons -->
    <div class="tab">
      <button class="tablinks" onclick="openChat(event, 'Team')">Team</button>
      <button class="tablinks" onclick="openChat(event, 'Sarah')">Sarah</button>
      <button class="tablinks" onclick="openChat(event, 'Rachel')">Rachel</button>
    </div>

    <!-- Getting necessary packages -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
            crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    <!-- Tab content. Each tab has a message holder -->
    <!-- Below are three hardcoded tabs
         One for the team chat and two private chats
         
        Problem: send messages to the correct message_holder (tab)
        Current solution (attempt) add a parent_id attribute
        Status: complete failure 

        ^^ Will be redundant if the recipient_session_id (tied to users [team, Sarah, Rachel])
        starts working. 
      
      -->
    <div id="Team" class="tabcontent">
      <h3>Team</h3>
      
        <div class="message_holder"></div>
        <form action="" method="POST" parent_id="Team">
          <input type="text" class="message"  placeholder="Messages"/>
          <input type="submit"/>
        </form>
    </div>
    
    <div id="Sarah" class="tabcontent">
      <h3>Sarah</h3>
      
        <div class="message_holder"></div>
        <form action="" method="POST" parent_id="Sarah">
          <input type="text" class="private_message"  placeholder="Messages"/>
          <input type="submit"/>
        </form>
    </div>
    
    <div id="Rachel" class="tabcontent">
      <h3>Rachel</h3>
      
        <div class="message_holder"></div>
        <form action="" method="POST" parent_id="Rachel">
          <input type="text" class="private_message"  placeholder="Messages"/>
          <input type="submit"/>
        </form>
    </div>
    <!-- 
      creates a variable to keep track of current page. not ideal solution but works. Defaults to Team
       -->
    <script type="text" id="current_page">Team</script>
    <!-- 
      function to switch between tabs. Might be possible to 'mark' the current tab in someway to use for id
      Status: Working
       -->
    <script>
       
      function openChat(evt, user_id){
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(user_id).style.display = "block";
        evt.currentTarget.className += " active";
        document.getElementById("current_page").innerText = evt.currentTarget.innerText;
        console.log(document.getElementById("current_page").innerText)
      }
    </script>
    
    <!-- Socket setup
        Likely should be moved into the script.js file
        private_socket is most likely redundant but i've left it in script.js as a reference
       -->
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      // outputs to terminal
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        // form grabs all three forms from each tab
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          // console log looking for way to identify which form the submit was triggered from
          // status:not working but likely possible with right method calls
          console.log(form.attr("parent_id"));
          //hardcoded username
          let user_name = "Kevin"
          // id is now working
          let id = document.getElementById("current_page").innerText
          let user_input = $( 'input.message' ).val()
          // HERE! 
          // Better solution likely is to use socket.emit( 'private_message', {payload}) or change 'my_event' to specify a room
          // status: currently working on it
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input,
            id : id
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      // BELOW: All configured to work with an id (linked to tab's message board)
      // Status: currently broken because msg.id is not behaving correctly. Does work with hard coded msg.id
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined') {
          $( 'h3' ).remove()
          
          if (msg.id == "Team"){$( document.getElementById("Team").firstElementChild).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>')}
          if (msg.id == "Sarah"){$( document.getElementById("Sarah").firstElementChild).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>')}
          if (msg.id == "Rachel"){$ (document.getElementById("Rachel").firstElementChild).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>')}
          

        }
        
      })
    </script>
    
    
    
  </body>
  </html>
