{% extends "layout.html" %}

{% block title %} About {% endblock title %}

{% block content %}
    <div class="about">
		<h1 style="margin-left:75px;">About</h1>
		<hr>
	    <p style="margin-left:75px; margin-right:75px;">
			The purpose of PMT is to give software developers a packaged workflow tool. 
			PMT combines a chat system and a Kanban board function that allows for convenient communications between 
			team members during Scrum Sprints. Similar to other websites, members will need an account and will require 
			an invitation to join projects that they did not make themselves. PMT uses Javascript and HTML for the front 
			end and Flask for the back end. A SQLAlchemy database stores all of the information needed to keep track of who 
			you are, what projects you have, message histories and kanban boards. The convenince of having something akin to 
			Slack and Trello combined into a single site and account makes KanBan+Chat an excellent option for your team! Minmize 
			the need to remember passwords, create more efficent team management, and accelerate productivity with KanBan+Chat. 
	    </p>
  </div>
{% endblock content %}