{% extends "layout.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
        padding-top:7rem
    }
    </style>
  </head>
  <body>

  <div id="demo" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>

    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="center-block" src="{{url_for('static', filename='home_pics/meeting1.jpg')}}" alt="Meeting 1" width="1100" height="500" >
      </div>
      <div class="carousel-item">
        <img class="center-block"  src="{{url_for('static', filename='home_pics/meeting2.jpg')}}" alt="Meeting 2" width="1100" height="500">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <br></br>
  <h1 align = "center"> PMT </h1>
  <h4 align = "center"> <i>A Project Management Tool for Software Developers</i></h3>

  <h3>What is it?</h3>
  <p>PMT gives software developers a packaged workflow tool. PMT combines a chat system and a Kanban board to allow for convenient communications between team members during Scrum Sprints. Similar to other websites, members will need an account and will require an invitation to join projects that they did not make themselves. 

  </p>
  <h3 >Why use it?</h3>
  <p style="margin-bottom: 10vh;">Planning and managing your project with PMT will help your team hit deadlines, stay on focused, and make awesome products. By organizing and planning out Sprints, large projects feel small. Confusion becomes awareness. And work gets done!</p>

  </body>
{% endblock content %}