
{% extends "layout.html" %}

{% block title %} {{ project.title }} {% endblock title %}

{% block content %}

<h4> {{ project.title }} </h4>
<small class = "text-muted"> Created on {{ project.date_posted.strftime('%Y-%m-%d') }}</small>
<div>
    <p> <strong>Description:</strong> {{project.description}} </p>
    <div class="text-right">
        <a class="btn btn-secondary btn-sm m-20" href="{{url_for('update_project', project_id = project.id, username=current_user.username)}}" > <i class="fas fa-edit"></i></a>
        <button type = "button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Project?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this project? You will not be able to undo this.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('delete_project', project_id=project.id, username=current_user.username)}}" method="POST">
                    <input class = "btn btn-danger" type="submit" value ="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#members">Member List</button>
<div id="members" class="collapse">
    <br>
    {% for username in usernames%}
    <style>
        .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        }
    </style>
    <ul>
        <li><img class="avatar" alt="user_image" src="{{ url_for('static', filename='profile_pics/' + username.image_file) }}"> {{ username.username }}</li>
    </ul>
    {% endfor %}
    <a href="{{ url_for('invite', project_id=project.id, username=current_user.username)}}">
        <button type="button" class="btn btn-secondary btn-sm" style="margin-left: 25px;">Invite Member</button>
    </a>
</div>

<hr></hr>

<!-- Pill tabs -->
<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#board">Board</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#chat">Chat</a>
    </li>
</ul>

<!-- Pill panes -->
<div class="tab-content">
    <div id="chat" class="container tab-pane fade"><br>
        <h3>Chat</h3>
        <div id = "main-section">
            <!-- Chat Selection -->
            <nav id = "sidebar">
                <h4>CHANNELS</h4>
                {% for room in rooms %}
                    <p class = "select-room"> {{ room|title }} </p>
                {% endfor %}
            </nav>
            <!-- Message Area -->
            <div id = "rightside-panel">
                <div id="display-message-section">
                    {% for message in messages %}
                        <p class = my-msg>
                            <span class = my-username>{{message.username}}</span>
                            <br></br>
                            <span> {{ message.message }} </span>
                        </p>
                    {% endfor %}

                </div>
            </div>
            <!-- Input Message -->
            <div id = "input-area">
                <input type="text" id = "user_message" placeholder ="Type here..." autocomplete="off">
                <button type = "button" id = "send_message">SEND</button>
            </div>
        </div>                  
    </div>
    <!-- Card Board Section-->
    <div id="board" class="container tab-pane active"><br>
        <h3>Project Board</h3>
        <a href="{{ url_for('create_card', project_id=project.id, username=current_user.username)}}">
            <button type="button" class="btn btn-primary btn-lg">Create a new card</button>
        </a>
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                               
                    <!-- <a class = "nav-link active" href="#sprint_1" data-toggle="tab">Sprint 1</a> -->
                {% for sprint in sprints %}
                {% if sprint.sprint_num == 1 %}
                <li class="nav-item">                   
                    <a class = "nav-link active" href="#sprint_{{sprint.sprint_num}}" data-toggle="tab">Sprint {{sprint.sprint_num}}</a>
                </li>
                {% else %}
                <li class="nav-item">                   
                    <a class = "nav-link" href="#sprint_{{sprint.sprint_num}}" data-toggle="tab">Sprint {{sprint.sprint_num}}</a>
                </li>
                {% endif %}
                {% endfor %}
                
                <li class = "nav-item">
                    <a href="#" class="add-contact nav-link">+ Add Sprint</a>
                </li>
            </ul>

            <div class = "lists" for="backlog">  <!-- Moved this so the backlog is persistant across all tab panes -->
                <div class = "list" for='backlog' id="backlog_1">
                    <h9 style="text-align:center">Backlog</h9>
                    {% for backlog in backlogs%}
                    <div class="list-item" draggable="true" priority="{{backlog.priority}}" id="card_{{backlog.id}}">  {{ backlog.title }} </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="sprint_1">
                    <div class = "lists">
                        <!-- <div class = "list border border-dark rounded" id="backlog1">
                            <h4 style="text-align:center">Backlog</h4>
                            {% for backlog in backlogs%}
                            <div class="list-item" draggable="true" id="card{{loop.index}}">  {{ backlog.description }} </div>
                            {% endfor %}
                        </div> -->                        
                        <div class = "list" for ='In Progress' id="ip_1">
                            <h4 style="text-align:center">In Progress</h4>
                            {% for inc in incompletes %}
                            {% if inc.sprint_id == 1 %}
                            <div class="list-item" draggable="true" priority="{{inc.priority}}" id="card_{{inc.id}}">  {{inc.title}} </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class = "list" for= "Done" id="done_1">
                            <h4 style="text-align:center">Done</h4>
                            {% for com in completes %}
                            {% if com.sprint_id == 1 %}
                                <div class="list-item" draggable="true" priority="{{com.priority}}" id="card_{{com.id}}">  {{com.title}} </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% for sprint in sprints %}       
                {% if sprint.sprint_num != 1 %}
                <div class="tab-pane"  id="sprint_{{ sprint.sprint_num }}">
                    <div class = "lists">
                        <div class = "list" for="In Progress" id="ip_{{sprint.sprint_num}}">
                            <h4 style="text-align:center">In Progress</h4>
                                {% for inc in incompletes %}
                                {% if inc.sprint_id == sprint.sprint_num %}
                                <div class="list-item" draggable="true" priority="{{inc.priority}}" id="card_{{inc.id}}">  {{inc.title}} </div>
                                {% endif %}
                                {% endfor %}
                        </div>
                        <div class = "list" for="Done" id="done_{{ sprint.sprint_num }}">
                            <h4 style="text-align:center">Done</h4>
                            {% for com in completes %}
                            {% if com.sprint_id == sprint.sprint_num %}
                        <div class="list-item" draggable="true" priority="{{com.priority}}" id="card_{{com.id}}">  {{com.title}} </div>
                                
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Set Priority"><i class="fa fa-eye"></i> Set Priority</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Edit"><i class="fa fa-edit"></i> Edit Card</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Delete"><i class="fa fa-times"></i> Delete Card</a>
      </li>
    </ul>
  </nav>
<script type="text/javascript">
    
    $(".nav-tabs").on("click", "a", function (e) {
        e.preventDefault();
        if (!$(this).hasClass('add-contact')) {
            $(this).tab('show');
        }
    })
    .on("click", "span", function () {
        var anchor = $(this).siblings('a');
        $(anchor.attr('href')).remove();
        $(this).parent().remove();
        $(".nav-tabs li").children('a').first().click();
    });

$('.add-contact').click(function (e) {
    e.preventDefault();
    var id = $(".nav-tabs").children().length-1; //think about it ;)
    var tabId = 'contact_' + id;
    $(this).closest('li').before('<li class ="nav-item"><a class = "nav-link" href="#sprint_' +
                                     id + '" data-toggle="tab" >Sprint ' + id + '</a></li>');
    $('.tab-content').append(
            '<div class="tab-pane" id="sprint_' + id + '">' +
                '<div class = "lists">' +
                    '<div class = "list" id=ip_' + id + '>' +
                        '<h4 style="text-align:center">In Progress</h4>' +
                    '</div>' +
                    '<div class = "list" id=done_' + id + '>' +
                        '<h4 style="text-align:center">Done</h4>' +
                    '</div>' +
                '</div>' +
            '</div>');
   $('.nav-tabs li:nth-child(' + id + ') a').click();
   socket.emit('addSprint', {id:'{{project.id}}', sprint: id})
});

const list_items = document.querySelectorAll('.list-item');
const lists = document.querySelectorAll('.list');

let draggedItem = null;
for (let i = 0; i<list_items.length; i++){
    const item = list_items[i];

    item.addEventListener('dragstart', function(){
        draggedItem = item;
        setTimeout(function () {
            socket.emit('cardDragStart', item.id);            
        }, 0);
    });

    item.addEventListener('dragend', function () {
        setTimeout(function () {                        
            //draggedItem = null;
        }, 0);
    });
    
    item.addEventListener('click', function() {
        card_id = item.id;
        card_id = parseInt(card_id.replace("card_",""));

        socket.emit('cardClick', {'id':card_id, 'displayed':item.innerText});
    });

    for (let j = 0; j < lists.length; j++){
        const list = lists[j];
        list.addEventListener('dragover', function (e) {
            e.preventDefault();
        });
        list.addEventListener('dragenter', function (e) {
            e.preventDefault();
            this.style.backgroundColor = '#d2d6d6';
        });
        list.addEventListener('dragleave', function (e){
            this.style.backgroundColor = '#eaeded';
        });
        list.addEventListener('drop', function (e) {
            let element = this;          
            let newSprint = element.id.split("_"); /* default to the backlog */
            let status = 'backlog';
            let stReg = /ip/;
            if(stReg.test(element.id)){
                status = 'incomplete';   /* Reg expressions to identify the new status */
            }
            stReg = /done/;
            if(stReg.test(element.id)){
                status = 'complete';
            }
            this.append(draggedItem);
            this.style.backgroundColor = '#eaeded';
            socket.emit('cardDrop', { 'id': draggedItem.id, 'parent':element.id,
             'status':status, "newSprint": newSprint[1]});
        });
    }    
}

</script>

<!-- Get username and project_id -->
<span id="get-username">{{ username }}</span>
<span id="get-project_id" hidden>{{ project.id }}</span>
<!-- SocketIO JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- Custom Chat JS -->
<script src="{{ url_for('static', filename='scripts/chat_page.js')}}"></script>


<!-- Custom SocketIO JS -->
<script src="{{url_for('static', filename='scripts/socketio.js')}}"></script>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

{% endblock content %}
