body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #2b2929;
}

h9 {
  color: #2b2929;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}
.bg-steel {
  background-color: #545454;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

[contenteditable] {
  border: solid 1px lightgreen;
  padding: 5px;
  border-radius: 3px;
}

@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
.container {
  margin-top: 10px;
  width: 95vw;
  max-width: 100vw !important;
}
.nav-tabs > li {
  position:relative;
}
.nav-tabs > li > a {
  display:inline-block;
}
.nav-tabs > li > span {
  display:none;
  cursor:pointer;
  position:absolute;
  right: 6px;
  top: 8px;
  color: red;
}
.nav-tabs > li:hover > span {
  display: inline-block;
}


.nav-pills .nav-link:not(.active) {
background-color: #6e6e6e;
color: white;
}

.nav-pills .nav-link {
background-color: #adadad;
color: white;
}

.nav-pills li {
margin-right: 20px;
}

.app {
display: flex;
flex-flow: column;

width: 100vw;
height: 100vh;
}

.header {
display: flex;
justify-content: center;
align-items: center;
height: 60px;
}

.lists {
display: flex;
flex: 1;
width: 85vw;
}

.lists .list {
display: flex;
flex-flow: column;
flex: 1;

width: 40vw;
height: 100%;
min-height: 150px;
align-content: center;
background-color: #ae82fa !important;
margin: 0 4px;
padding: 8px;
transition: all 0.2s linear;
align-self: center;
}

/* .lists .list .list-item {
background-color: white;
border-radius: 8px;
padding: 15px 20px;
text-align: center;
margin: 4px 0px;
} */

.list[for = 'In Progress'] {
background-color: #fea14a !important;
border-radius: 8px;
padding: 15px 2vw;
text-align: center;
margin: 4px 15px;
}
.list[for = 'Done'] {
background-color: #5edc77 !important;
border-radius: 8px;
padding: 15px 2vw;
text-align: center;
margin: 4px 15px;

}
.list[for = 'backlog'] {
display: flex;
flex-flow:row wrap;
flex: 1;
justify-content: center;
align-content: flex-start;
width: 80vw;
height: 100%;
min-height: 150px;
max-height:400px;
background-color: #ae82fa !important;
border-radius: 8px;
padding: 15px 2vw;
text-align: center;
margin: 0 0px;

}
.lists {
background-color: #b3d7ff !important;
border-radius: 8px;
padding: 15px 2vw;
text-align: center;
margin: 4px 0px;
align-content: center;
margin-bottom: 4vh;
}

.lists[for='backlog'] {
background-color: #ae82fa !important;
border-radius: 8px;
padding: 15px 20px;
text-align: center;
align-content: center;
margin: 4px 0px;
overflow-y: auto;
}

.list-item{
cursor:grab;
}

.list-item[priority = 'black'] {
background-color: white;
border-radius: 8px;
width: 30vw;
padding: 15px 1vw;
text-align: center;
margin: 4px 1vw;
color:black;
overflow-wrap: break-word;
}
.list-item[priority = 'blue'] {
background-color: white;
border-radius: 8px;
padding: 15px 1vw;
text-align: center;
margin: 4px 1vw;
color:blue;
width: 30vw;
overflow-wrap: break-word;
}
.list-item[priority = 'red'] {
background-color: white;
border-radius: 8px;
padding: 15px 1vw;
text-align: center;
margin: 4px 1vw;
color: red;
width: 30vw;
overflow-wrap: break-word;
}

.list-item[assigned = 'on'] {
font-weight: bold;
font-size: larger;
text-shadow: -1px 0px 0 #000,0px 0px 0 #000,0px 0px 0 #000,0px 0px 0 #000;
text-decoration: dashed underline black;
text-decoration-color: black;
text-underline-position: under;
background-color: palegoldenrod;
letter-spacing: 1px;
box-shadow: -3px -3px 40px -10px currentColor;
}

.list-item[assigned = 'unassigned'] {
background-color: gainsboro;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
text-align: center;
background-color: white;
}

.card-container {
display: flex;
flex: 1;
width: 100%;
overflow-x: scroll;
}

.input#user_message{
margin-bottom: 6vh;
}
.button#send-message{
margin-bottom: 6vh;

}

.add-room {
margin: 3px 3px;
border-radius: 3px;
border-color: #2b2929;
background-color: #bfe7ff;
}

.wrapper {
display: flex;
}

#main-section {
overflow: auto; /* Makee this div contain its floated children */
width: 100%;
background-color: #bfe7ff;
border-radius: 4vh;
max-height: 78vh;
}

#sidebar {
margin-top: 2em;
float: left; /* Make this div as wide as its contents */
max-height: 75vh;
overflow-y: auto;
padding-left: 1em;
padding-top: 1em;
padding-right:1em;
padding-bottom: 1em;
background-color: #bfe7ff;
border-radius: 1vh;
position: sticky;
top:3vh;
}
#sidebar::-webkit-scrollbar { 
display: none; 
}
#sidebar p {
padding-left: 2em;
padding-right:2em;
border-radius: 1vh;
}

#sidebar p:hover {
cursor:pointer;
background-color: #ffc107;
}

#sidebar h4 {padding-left: 0.5em;}


#sidebar.view-sidebar {display: none;}

#show-sidebar-button {
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.5s;
color: #335177;
}

@media (max-width: 567px) {
#sidebar {
    display: none;
}

#sidebar.view-sidebar {
    display: block;
}

#show-sidebar-button {
    visibility: visible;
    opacity: 1;
}
}


.cursor-pointer {
cursor: pointer;
}

#rightside-pannel {
overflow: hidden;
border-bottom: 6vh; /* Make this div take up the rest of the horizontal space, and no more */
}

#display-message-section {
margin-top: 2em;
min-height: 35vh;
padding-left: 7.4vw;
padding-right: 15vw;
background-color:#bfe7ff;
display: flex;
flex-direction: column;
}

#main-section::-webkit-scrollbar { 
display: none; 
}

#input-area {
display:flex;
flex-grow: 1;
padding-top: 8px;
padding-left: 19vw;
padding-right: 1em;
padding-bottom: 5vh;
background-color: #bfe7ff;
}

input[type=text]:focus{
border-color: #ffc107;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;
}

@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

.others-msg {
margin-right:1em;
padding: 0.5em 0.5em 0.5em 1em;
border-radius: 5px;
border-color: #206ED2;
border-width: 1px;
border-style: solid;
/* animation */
animation-name: fadeIn;
animation-duration: 0.75s;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out;
max-width: 50vw;
background-color: mintcream;
margin-bottom: 1.3vh;
}

.my-msg {
margin-right:1em;
padding: 0.5em 0.5em 0.5em 1em;
border-radius: 5px;
border-color: #206ED2;
border-width: 1px;
border-style: solid;
/* animation */
animation-name: fadeIn;
animation-duration: 0.75s;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out;
background-color: mintcream;
margin-bottom: 1.3vh;
max-width: 50vw;
}

.system-msg {
margin-right:7em;
margin-left: 1em;
padding: 0.5em 0.5em 0.5em 1em;
color: #656d78;
font-size:0.9em;
}

.timestamp {
color: #656d78;
font-size:0.7em;
}

.other-username {
font-weight: bold;
font-size: 1.1em;
color: #206ED2;
}

.my-username {
font-weight: bold;
font-size: 1.1em;
color: #FF6B13;
}

#msg-input {
border-color: #ffc107;
border-width: 5px;
}

#get-username {
display: none !important;
}

.listofusers{
display: flex;
flex-direction: row;
flex: 1 0 auto;
justify-content: space-between;
align-items: center;
}

.avatar {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

/* context menu */

.context-menu {
display: none;
position: fixed;
z-index: 15;
padding: 12px 0;
width: 12vw;
background-color: #fff;
border: solid 1px #dfdfdf;
box-shadow: 1px 1px 2px #cfcfcf;
box-sizing: border-box;
border-radius: 1vh;

}

.context-menu--active {
display: block;
}

.context-menu__items {
list-style: none;
margin: 0;
padding: 0;
}

.context-menu__item {
display: block;
margin-bottom: 4px;
}

.context-menu__item:last-child {
margin-bottom: 0;
}

.context-menu__link {
display: block;
padding: 4px 12px;
color: #0066aa;
text-decoration: none;
}

.context-menu__link:hover {
color: #fff;
background-color: #0066aa;
}

.sprint-popup {
display:none;
position: inherit;
height:33px;
width:30vw;
background-color:red;
border-radius: 7px;
overflow-wrap: normal;
text-align: center;
margin-bottom: 0.4vh;

}

.sprint-popup .context-menu__item {
opacity: 0.8;
}

.sprint-popup .context-menu__link:hover {
color: #fff;
background-color: red;
border-radius: 7px;
opacity: 1;
}

/* The popup chat - hidden by default */
.card-popup {
display: none;
position: fixed;
border: 3px solid #f1f1f1;
z-index: 14;
width: 25vw;
max-height:30vw;
overflow:auto;
padding: 10px;
background-color: white;
border-radius: 1vw;
}
.card-popup::-webkit-scrollbar { 
display: none; 
}


.chat-input {
width: 50vw;
max-height: 20vh;
resize: none;
border-radius: 1vh;
}

.card-popup textarea {
width: 100%;
padding: 15px;
border: none;
background: #f1f1f1;
resize: none;
min-height: 2vw;
}

.card-popup textarea:focus {
background-color: #ddd;
outline: none;
}

.card-popup .btn {
background-color: #4CAF50;
color: white;
padding: 1px 1px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:1px;
opacity: 0.8;
}

.card-popup .cancel {
background-color: red;
}

.card-popup .btn:hover, .open-button:hover {
opacity: 1;
}


.channel-popup {
display: flex;
flex-direction: column;
justify-content: center;
display: none;
position: inherit;
border: 3px solid #f1f1f1;
z-index: 14;
max-width: 40vw;
max-height:40vw;
overflow:auto;
padding: 10px;
background-color: white;
border-radius: 1vw;
font-weight: bold;
margin-top: 15px;
}
.channel-popup::-webkit-scrollbar { 
display: none; 
}

.channel-popup #members-options ul{
padding-inline-start:0px;
}

.assign-popup {
display: flex;
flex-direction: column;
justify-content: center;
display: none;
position: fixed;
right: 4vw;
top: 25vh;
border: 3px solid #f1f1f1;
z-index: 14;
width: 175px;
max-height:50vh;
overflow:auto;
padding: 10px;
background-color: white;
border-radius: 1vw;
font-weight: bold;
margin-top: 15px;

}
.assign-popup::-webkit-scrollbar { 
display: none; 
}

.assign-popup #members-check ul{
padding-inline-start:0px;
}